extends layout 
block content 
  h1= title 
  form(id='CapForm', action="/resource/Cap", method="POST" ,class='d')
    div(class='d').form-group
        img(src='/images/nike.jpg' width="100px" height:)
    div.form-group 
        label.CapAttr(for='Cap_Name') Cap Name 
        input#Cap_Name(type='text', name='Cap_Name') 
    div.form-group 
        label.CapAttr(for='Cap_Company') Cap Company 
        input#Cap_Company(type='text', name='Cap_Company') 
    div.form-group 
        label.CapAttr(for='Cap_Size') Cap Size 
        input#Cap_Size(type='number', name='Cap_Size')
    div.form-group 
        label.CapAttr(for='Cap_Rating') Cap Rating 
        input#Cap_Rating(type='number', name='Cap_Rating')     
    input(type="submit") 
  script. 
    document.forms['CapForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    });
    

  

